[Desktop Entry]
Name=Always
GenericName=Terminal entering Always
Comment=Terminal entering Always
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  always
Icon=/home/tieu/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Always from system
Exec=/usr/bin/distrobox rm  always
