[Desktop Entry]
Name=Ubuntu-citrix
GenericName=Terminal entering Ubuntu-citrix
Comment=Terminal entering Ubuntu-citrix
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  ubuntu-citrix
Icon=/home/tieu/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Ubuntu-citrix from system
Exec=/usr/bin/distrobox rm  ubuntu-citrix
