[Desktop Entry]
Name=Ubuntu-citrix-2
GenericName=Terminal entering Ubuntu-citrix-2
Comment=Terminal entering Ubuntu-citrix-2
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  ubuntu-citrix-2
Icon=/home/tieu/.local/share/icons/distrobox/ubuntu.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Ubuntu-citrix-2 from system
Exec=/usr/bin/distrobox rm  ubuntu-citrix-2
