
[Desktop Entry]
Version=1.0
Type=Application
Name=Wallpaper
GenericName=Wallpaper
Exec=bash -c ".config/hypr/scripts/wall-pick.sh .config/hypr/wallpapers/"
Terminal=true
