[Desktop Entry]
Type=Application
Name=Smart Dock
Exec=waydroid app launch cu.axel.smartdock
Icon=/home/tieu/.local/share/waydroid/data/icons/cu.axel.smartdock.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=true

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:cu.axel.smartdock
Icon=/home/tieu/.local/share/waydroid/data/icons/com.android.settings.png
