[Desktop Entry]
Type=Application
Name=Tasker
Exec=waydroid app launch net.dinglisch.android.taskerm
Icon=/home/tieu/.local/share/waydroid/data/icons/net.dinglisch.android.taskerm.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=true

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:net.dinglisch.android.taskerm
Icon=/home/tieu/.local/share/waydroid/data/icons/com.android.settings.png
