/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

#urlbar-search-mode-indicator {
  background-color: transparent !important;
  padding-inline-start: 0px !important;

  & #urlbar-search-mode-indicator-close {
    display: none !important;
  }
}


#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > 
.identity-box-button {

  &:not(:hover){
    background-color: transparent !important;        
  }
  & image {
    list-style-image: url("../icons/firefox.svg") !important;
  }

  & #identity-icon-label {
    display: none !important;
  }

  fill: var(--toolbarbutton-icon-fill) !important;
}

#identity-box[pageproxystate="invalid"]:is(.chromeUI) {
  margin-inline-end: 0px !important;
}

#urlbar-container {
  position: absolute !important;
}

/* url-bar animation */
#nav-bar {
  display: flex;
  justify-content: center;
}                                   

#urlbar-container {
  flex: 1;
  max-width: 1000px;
  margin: auto !important;
}

#main-window #urlbar {
  z-index: 9999 !important;
  opacity: 100 !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  /* transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease; */
}


#main-window #urlbar {
  &:not([breakout="true"][breakout-extend="true"]) {
    z-index: -1000 !important;
    opacity: 0 !important;
  }
  &[breakout="true"][breakout-extend="true"] {
    z-index: 1000 !important;
  }
  position: fixed !important;
  top: 20vh !important;
  left: calc(50vw - (clamp(400px,64vw,800px)/2)) !important;
  right: calc(50vw - (clamp(400px,64vw,800px)/2)) !important;
  width: clamp(400px,64vw,800px) !important;

  opacity: 0.97 !important;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;

  /* transition: width 0.3s ease, left 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease; */

  --urlbar-container-height: 34px !important;

  #urlbar-input {
    font-size: 16px !important;
  }    
}
