/*
* This Source Code Form is subject to the terms of the Mozilla Public
* License, v. 2.0. If a copy of the MPL was not distributed with this
* file, You can obtain one at https://mozilla.org/MPL/2.0/.
*/

@import url("url-bar.css");
@import url("icons.css");
@import url("vertical.css");
@import url("window-controls.css");

.tab-background:is([selected], [multiselected]) {
  @media (-moz-bool-pref: "uc.tweak.translucency") {
    background-color: transparent !important;
  }
  box-shadow: none !important;
}

body {
  background-color: var(--user-bg) !important;
}

#navigator-toolbox, #titlebar, #nav-bar, #PersonalToolbar, #tabbrowser-tabs {
  background-color: transparent !important;
}

/* remove seperator that shows up before tabs */
:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: none !important;;
  padding-inline-start: 0px !important;
  margin-inline-start: 0px !important;;
}

#back-button, #forward-button, #alltabs-button, #new-tab-button {
  display: none !important;
}

.titlebar-spacer { display: none !important; }

#navigator-toolbox {
  @media (not (-moz-bool-pref: "uc.tweak.left-vertical-nav")) and (not (-moz-bool-pref: "uc.tweak.right-vertical-nav")) {
    @media (-moz-gtk-csd-reversed-placement) or (-moz-platfrom: macos) {
      flex-direction: row !important;
    } @media (-moz-platform: windows) or (not (-moz-gtk-csd-reversed-placement)) {
      flex-direction: row-reverse !important;
      & #PanelUI-button {
        order: -10 !important;
      }
    } 
    margin-inline: var(--user-margin) !important;
    @media (-moz-platform: macos) and (not (-moz-bool-pref: "uc.tweak.no-window-controls")) {
      margin-inline-start: 0px !important;
    }
    & #tabs-newtab-button { display: none !important; }

    & #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-content > .tab-close-button:not([selected]) {
      display: none !important;
    }    
  }
  border: none !important;

  @media (-moz-bool-pref: "uc.tweak.bottom-nav") {
    order: 100 !important;
  }
}

#titlebar {
  flex-grow: 10 !important;
}

:root:not([lwtheme="true"])  tab:where([visuallyselected]) .tab-background {
  border: var(--toolbarbutton-icon-fill) solid 1px !important;
}

.tab-icon-pending:not([fadein]), .tab-icon-image:not([fadein]), .tab-close-button:not([fadein]), .tabbrowser-tab:not([fadein])::after, .tab-background:not([fadein]) {
  display: none !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

#PanelUI-button #PanelUI-menu-button {
  padding-inline:  var(--toolbarbutton-outer-padding) !important;
}


/* round top conner on browser */
#tabbrowser-tabpanels { background-color: transparent !important; }

html:not([sizemode="fullscreen"]) {
  #appcontent { 
    margin: var(--user-margin) !important;
    @media (not (-moz-bool-pref: "uc.tweak.left-vertical-nav")) and 
    (not (-moz-bool-pref: "uc.tweak.right-vertical-nav")) and
    (not (-moz-bool-pref: "uc.tweak.bottom-nav")) {
      margin-top: 0px !important;
    } @media (-moz-bool-pref: "uc.tweak.bottom-nav") {
      margin-bottom: 0px !important;
    } @media (-moz-bool-pref: "uc.tweak.left-vertical-nav") {
      margin-left: 0px !important;
    } @media (-moz-bool-pref: "uc.tweak.right-vertical-nav") {
      margin-right: 0px !important;
    }

    & browser {
      background-color: transparent;
      clip-path: circle(100%);

      border-radius: var(--user-radius);
      @media not (-moz-bool-pref: "uc.tweak.browser-margins") { 
        @media (not (-moz-bool-pref: "uc.tweak.left-vertical-nav")) and 
        (not (-moz-bool-pref: "uc.tweak.right-vertical-nav")) and
        (not (-moz-bool-pref: "uc.tweak.bottom-nav")) {
          border-bottom-left-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          @media (-moz-bool-pref: "uc.tweak.bottom-nav") {
            border-top-right-radius: 0px !important;
            border-top-left-radius: 0px !important;
          } @media (-moz-bool-pref: "uc.tweak.left-vertical-nav") {
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
          } @media (-moz-bool-pref: "uc.tweak.right-vertical-nav") {
            border-bottom-left-radius: 0px !important;
            border-top-left-radius: 0px !important;
          }
        }
      }
    }
  }

  /* link thingy when hovering over url */
  #statuspanel {
    & #statuspanel-label {
      border-radius: var(--user-radius) !important;
      background-color: var(--user-bg) !important;
      backdrop-filter: blur(20px);
      border: none !important;
    }

    @media (-moz-bool-pref: "uc.tweak.browser-margins") {
      bottom: 2px !important;
      &:not([mirror="true"]) { left: 2px !important; }
      &[mirror="true"] { right: 2px !important; }
    }
  }
}
