:root {
  --tab-min-height: 18px !important;
  --tab-min-height: 16px !important;
  --tab-inline-padding: 2px !important;
}

/* Title bar */
.titlebar-buttonbox {
  display: none !important;
}

/* URL bar */
#back-button {
  display: none !important;
}

#forward-button {
  display: none !important;
}

/* Tab bar */
#TabsToolbar,
.tabbrowser-tab {
  max-height: var(--tab-min-height) !important;
  font-size: 11px !important;
}

#tabbrowser-tabs {
  min-height: var(--tab-min-height) !important;
}

tab {
  font-family: monospace;
  border: none !important;
  padding-top: 0 !important;
}

.tab-content {
  padding: 0 0 0 var(--tab-inline-padding);
}

.tab-background {
  margin-block: 0 !important;
  min-height: var(--tab-min-height);
  outline-offset: 0 !important;
}

.tabbrowser-tab[fadein] {
  max-width: 100vw !important;
  border: none;
}

/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  display: none !important;
}

.tabbrowser-tab {
  /* remove border between tabs */
  padding-inline: 0px !important;
  /* reduce fade effect of tab text */
  --tab-label-mask-size: 1em !important;
  /* fix pinned tab behaviour on overflow */
  overflow-clip-margin: 0px !important;
}

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests])
  .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}

/* remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
  margin-inline-start: 0px !important;
}

/* Tab: selected colors */
#tabbrowser-tabs .tabbrowser-tab[selected] .tab-content {
  font-weight: bold !important;
}
